html {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme {
  position: sticky;
  top: 0;
}

.dark {
  background-color: black;
}

.light {
  background-color: rgb(255, 255, 255);
}

.filter {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 320px;
  height: 80px;
  border: 1px solid gray;
  display: flex;
  justify-content: flex-start;
  padding: 4px;
  box-sizing: border-box;

  .icon {
    object-fit: cover;
    border: 1px solid gray;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-left: 4px;
  }
  .name {
    font-size: larger;
  }
  .rarity-Exotic {
    color: #e6c028;
  }
  .rarity-Legendary {
    color: #9656b9;
  }
}

.card-img {
  width: 81px;
  height: 81px;
  object-fit: cover;
}